<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample"> <!-- table 이름이나 dto 이름을 namespace 에 넣음 -->
    <select id="sampleList" resultType="kr.co.teaspoon.dto.Sample">
        select * from sample
    </select>
</mapper>