<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <!-- 회원 목록 보기 -->
    <select id="memberList" resultType="kr.co.teaspoon.dto.Member">
        select * from member order by regdate desc
    </select>

    <!-- 회원 상세 정보 보기 -->
    <select id="getMember" resultType="kr.co.teaspoon.dto.Member">
        select * from member where id = #{id}
    </select>

    <!-- 회원 수 카운트 -->
    <select id="memberCount" resultType="integer">
        select count(*) from member
    </select>

    <!-- 로그인을 컨트롤러에서 처리 -->
    <select id="signIn" resultType="kr.co.teaspoon.dto.Member">
        select * from member where id = #{id}
    </select>

    <!-- 로그인 : DAO 처리 -->
    <select id="loginCheck" resultType="kr.co.teaspoon.dto.Member">
        select id, pw, name from member where id = #{id}
    </select>

    <!-- 로그인 : AJAX 처리 -->
    <select id="login" resultType="kr.co.teaspoon.dto.Member">
        select id, pw, name from member where id = #{id}
    </select>

    <!-- 회원가입 -->
    <insert id="memberInsert">
        insert into member values(#{id}, #{pw}, #{name}, #{email}, #{tel}, #{addr1}, #{addr2}, #{postcode}, DEFAULT, ${birth}, DEFAULT, DEFAULT, DEFAULT)
    </insert>

    <!-- 회원 방문 수 증가 -->
    <update id="countUp">
        update member set visited = visited + 1 where id = #{id}
    </update>

    <!-- 회원 정보 수정 -->
    <update id="memberEdit">
        update member set pw = #{pw}, email = #{email}, addr1 = #{addr1}, addr2 = #{addr2}, postcode = #{postcode} where id = #{id}
    </update>

    <!-- 회원 탈퇴 : 사용안함 -->
    <update id="memberNoUse">
        update member set useyn = false where id = #{id}
    </update>

    <!-- 회원 탈퇴 : 삭제 -->
    <delete id="memberDelete">
        delete from member where id = #{id}
    </delete>
</mapper>